In [1]:
import tweepy

bearer_token = "AAAAAAAAAAAAAAAAAAAAAAhrjgEAAAAAtaINtJuJDU%2F%2BCdOGL3BFon0rYzo%3DRBGMBkpmeImGMYSEnM0Sa8F2mCwZlidarulMjtMOuKqla8aWCs" # Twitter API
client = tweepy.Client(bearer_token=bearer_token) # Twitter API v2 with OAuth2.0 Version

#let's request and paginate the tweets
query = 'context:152.825047692124442624 -is:retweet lang:en'

limit = 101 #n of tweets to be requested


tweets = tweepy.Paginator(client.search_recent_tweets,
                          query=query,
                          expansions=['author_id'],
                          tweet_fields=['public_metrics'],
                          max_results=100).flatten(limit=limit)

In [2]:
#Let's create the panda dataframe
import pandas as pd

df_tweets = pd.DataFrame([tweet.data['text'],
                          tweet.data['public_metrics']['retweet_count'],
                          tweet.data['public_metrics']['like_count']
                         ] for tweet in tweets) # convert to pandas df

In [3]:
display(df_tweets)

                                                     0  1  2
0    We are happy to announce we are now working wi...  0  0
1    My country's food is actually UNDERRATED üáπüá∑ ht...  0  0
2    i hate how my mom handles lunch so much it onl...  0  0
3    Hi Gerda, the dishes were fantastic. The salmo...  0  0
4    @Franks2ndlife @laurenboebert And Putin hadn't...  0  0
..                                                 ... .. ..
96   Whether it's a pilsner, Berliner Weisse or cur...  0  0
97   @Riverbean790 STOP EATING RAW BLOCKS OF RAMEN ...  0  1
98   @MarkMcC64572225 My next ham I am going to put...  0  0
99   Unpopular tweet before an early lunch\n\nFindo...  0  1
100  Lunch fix üçîüçüOrder burger combo with fries and ...  0  0

[101 rows x 3 columns]

In [4]:
#Let's rename the columns
df_tweets.rename(columns={0: "Text", 1: "Retweet", 2: "Likes"})

                                                  Text  Retweet  Likes
0    We are happy to announce we are now working wi...        0      0
1    My country's food is actually UNDERRATED üáπüá∑ ht...        0      0
2    i hate how my mom handles lunch so much it onl...        0      0
3    Hi Gerda, the dishes were fantastic. The salmo...        0      0
4    @Franks2ndlife @laurenboebert And Putin hadn't...        0      0
..                                                 ...      ...    ...
96   Whether it's a pilsner, Berliner Weisse or cur...        0      0
97   @Riverbean790 STOP EATING RAW BLOCKS OF RAMEN ...        0      1
98   @MarkMcC64572225 My next ham I am going to put...        0      0
99   Unpopular tweet before an early lunch\n\nFindo...        0      1
100  Lunch fix üçîüçüOrder burger combo with fries and ...        0      0

[101 rows x 3 columns]

In [5]:
import os

path = os.getcwd()

In [6]:
_ = df_tweets.to_csv(os.path.join(path,'Dataset1.csv'))#creates a csv file containing the tweets