In [10]:
import pandas as pd
import os

In [11]:
#TODO tune
dirs = [
    'debug_sets/619439/',
    'debug_sets/710527/']

#load and join raw tweets
df = pd.concat([pd.read_csv(dir_+'dataset_raw.csv') for dir_ in dirs], ignore_index=True)
df.dropna(inplace=True, axis=1)
df.tail(2)

                                                    text  likes  followers
17214  Guinness Blonde $1.80 per oz of alcohol.  #boo...    0.0       14.0
17215  Fundraising to send food trucks with coffee an...  105.0     2077.0

In [14]:
#save joined raw tweets
dir_ = 'debug_sets/joined/'
os.makedirs(dir_, exist_ok=True)
df.to_csv(dir_+'dataset_raw.csv', index=False)