In [2]:
import pandas as pd
import os

In [3]:
#TODO tune
dirs = [
    'debug_sets/619439/',
    'debug_sets/710527/',
    'debug_sets/797076/']

#load and join raw tweets
df = pd.concat([pd.read_csv(dir_+'dataset_raw.csv') for dir_ in dirs], ignore_index=True)
df.dropna(inplace=True, axis=1)
df.tail(2)

                                                    text  likes  followers
25398  Ordered a portable smoothie maker for when I'm...    6.0      483.0
25399  Enters Brewery:\n*sees Andy the Beertender*\n\...    0.0       17.0

In [4]:
#save joined raw tweets
dir_ = 'debug_sets/joined/'
os.makedirs(dir_, exist_ok=True)
df.to_csv(dir_+'dataset_raw.csv', index=False)